    {% extends 'base.html' %}
    {% load static %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/hotels.css' %}">
    {% endblock%}
    {% block content %}
    <section>
        <div class="container p-4 ">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-3">
                    <h4>Filters</h4>
                    <div class="row ">
                        <div class="col-12 bg-warning">
                            <h4 class="mt-2">Search</h4>
                            <div class="row">
                                <div class="col-12">
                                    <small>Destination/property name:</small>
                                </div>
                                <div class="col-12">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <div class="border rounded  bg-white ">
                                                <form class="bg-white p-1">
                                                    <i class="fa fa-search "></i>
                                                    <input class="border-0" type="text" placeholder="Baku">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 w-100">
                                            <small>Check-in date</small>
                                            <input id="datepicker" class="bg-white" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 w-100">
                                            <small>Check-out date</small>
                                            <input id="datepicker1" class="bg-white" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row mt-2">
                                        <div class="col-12 pt-2">
                                            <div class="border w-100 py-1 bg-white">
                                                <select class="border-0 bg-white w-100" name="" id="">
                                                    <option value="">2 adults</option>
                                                    <option value="saab">3 adults</option>
                                                    <option value="opel">4 adults</option>
                                                    <option value="audi">5 adults</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6 py-1 pr-1 children-rooms">
                                            <div class="border w-100 py-1 bg-white">
                                                <select class="border-0 bg-white w-100" name="" id="">
                                                    <option value="">No children</option>
                                                    <option value="saab">1 child</option>
                                                    <option value="opel">2 children</option>
                                                    <option value="audi">3 children</option>
                                                    <option value="opel">4 children</option>
                                                    <option value="audi">5 children</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6 py-1 pl-1 children-rooms">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="border w-100 py-1 bg-white">
                                                        <select class="border-0 bg-white w-100" name="" id="">
                                                            <option value="">1 room</option>
                                                            <option value="saab">2 rooms</option>
                                                            <option value="opel">3 rooms</option>
                                                            <option value="audi">4 rooms</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row p-3">
                                        <button type="button" class="btn btn-danger rounded-0 w-100">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 border p-2 my-1">
                                    <div class="py-2">
                                        <h6 class="bolder-words">By price : </h6>
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text min-span" id="inputGroup-sizing-sm">min</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text max-span" id="inputGroup-sizing-sm">max</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Small"
                                            aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 border p-2 my-1">
                                    <div class="py-2">
                                        <h6 class="bolder-words">Property amenities </h6>
                                    </div>
                                    <div class="">
                                        <div>
                                            <span class="choose-type-parents">Internet options</span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <label class="containerr">
                                                <input type="checkbox">
                                                <span class="checkmark border"></span>
                                            </label>
                                            <span class="mt-3 choose-types">Wi-fi</span>
                                        </div>
                                    </div>
                                    <div class="my-2">
                                        <div class="mt-3">
                                            <span class="choose-type-parents mt-2">Parking</span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <label class="containerr">
                                                <input type="checkbox">
                                                <span class="checkmark border"></span>
                                            </label>
                                            <span class="mt-3 choose-types">Free self parking</span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <label class="containerr">
                                                <input type="checkbox">
                                                <span class="checkmark border"></span>
                                            </label>
                                            <span class="mt-3 choose-types">Free extended parking</span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-start">
                                            <label class="containerr">
                                                <input type="checkbox">
                                                <span class="checkmark border"></span>
                                            </label>
                                            <span class="mt-3 choose-types">Limited parking spaces</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                            <div class="col-12 border p-2 my-1">
                                <div class="py-2">
                                    <h6 class="bolder-words">Room amenities </h6>
                                </div>
                                <div class="">
                                    <div>
                                        <span class="choose-type-parents">Bedroom</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <label class="containerr">
                                            <input type="checkbox">
                                            <span class="checkmark border"></span>
                                        </label>
                                        <span class="mt-3 choose-types">Heating</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <label class="containerr">
                                            <input type="checkbox">
                                            <span class="checkmark border"></span>
                                        </label>
                                        <span class="mt-3 choose-types">Linens</span>
                                    </div>
                                </div>
                                <div class="my-2">
                                    <div class="mt-3">
                                        <span class="choose-type-parents mt-2">Bathroom</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <label class="containerr">
                                            <input type="checkbox">
                                            <span class="checkmark border"></span>
                                        </label>
                                        <span class="mt-3 choose-types">Hair dryer</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <label class="containerr">
                                            <input type="checkbox">
                                            <span class="checkmark border"></span>
                                        </label>
                                        <span class="mt-3 choose-types">Separate bathtub and shower</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <label class="containerr">
                                            <input type="checkbox">
                                            <span class="checkmark border"></span>
                                        </label>
                                        <span class="mt-3 choose-types">Soap</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                            <div class="col-12 border p-2 my-1">
                                <div class="py-2">
                                    <h6 class="bolder-words">Policies </h6>
                                </div>
                                <div class="">
                                    <div>
                                        <span class="choose-type-parents">Pets</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <label class="containerr">
                                            <input type="checkbox">
                                            <span class="checkmark border"></span>
                                        </label>
                                        <span class="mt-3 choose-types">Pets allowed</span>
                                    </div>

                                </div>
                                <div class="my-2">
                                    <div class="mt-3">
                                        <span class="bolder-words">Children and extra beds</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <label class="containerr">
                                            <input type="checkbox">
                                            <span class="checkmark border"></span>
                                        </label>
                                        <span class="mt-3 choose-types">Children are welcome</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <label class="containerr">
                                            <input type="checkbox">
                                            <span class="checkmark border"></span>
                                        </label>
                                        <span class="mt-3 choose-types">Extra bed if need</span>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start">
                                        <label class="containerr">
                                            <input type="checkbox">
                                            <span class="checkmark border"></span>
                                        </label>
                                        <span class="mt-3 choose-types">Extra payment for children</span>
                                    </div>
                                    <div class="mt-2">
                                        <div class="collapse" id="collapseExample">
                                            <div class="d-flex align-items-center justify-content-start">
                                                <label class="containerr">
                                                    <input type="checkbox">
                                                    <span class="checkmark border"></span>
                                                </label>
                                                <span class="mt-3 choose-types">Children are welcome</span>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-start">
                                                <label class="containerr">
                                                    <input type="checkbox">
                                                    <span class="checkmark border"></span>
                                                </label>
                                                <span class="mt-3 choose-types">Extra bed if need</span>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-start mb-2">
                                                <label class="containerr">
                                                    <input type="checkbox">
                                                    <span class="checkmark border"></span>
                                                </label>
                                                <span class="mt-3 choose-types">Extra payment for children</span>
                                            </div>
                                        </div>
                                        <a class="text-primary children-show-extra-items" data-toggle="collapse"
                                            href="#collapseExample" role="button" aria-expanded="false"
                                            aria-controls="collapseExample">
                                            Show all 3
                                            <svg aria-hidden="true" class="bk-icon -iconset-navarrow_down icon-down"
                                                fill="#0071C2" focusable="false" height="20" width="20"
                                                viewBox="0 0 128 128" role="presentation">
                                                <path
                                                    d="M64 88L33.2 57.2a4 4 0 0 1 5.6-5.7L64 76.7l25.2-25.2a4 4 0 0 1 5.6 5.7z">
                                                </path>
                                            </svg>
                                            <svg aria-hidden="true" class="bk-icon -iconset-navarrow_up icon-up d-none"
                                                fill="#0071C2" focusable="false" height="20" width="20"
                                                viewBox="0 0 128 128" role="presentation">
                                                <path
                                                    d="M92 77.7a4 4 0 0 1-2.8-1.2L64 51.3 38.8 76.5a4 4 0 0 1-5.6-5.7L64 40l30.8 30.8a4 4 0 0 1-2.8 6.9z">
                                                </path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <h4 style="font-weight: bold;">Baki : 125 hotels was found</h4>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="card mb-3 p-3"
                                style="max-width: 100%; height: 90%;border-color: #5bbaff;box-shadow: 0 0 10px #5bbaff;background-color: #ebf3ff;">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img class="content-image"
                                            src="https://freshome.com/wp-content/uploads/2013/07/Dubai-Underwater-Hotel-Rooms.jpg"
                                            class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h6 class="card-title text-primary mb-1" style="font-weight: bold;">Baku
                                                City</h6>
                                            <div class="d-flex align-items-center mb-3 ">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="card-text" style="font-size: 12px;line-height: 18px;">This is a
                                                wider card with
                                                supporting
                                                text below as a natural lead-in to additional content. This content is a
                                                little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last reserved 3 mins
                                                    ago</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div class="d-flex align-items-center justify-content-end p-2">
                                                <div class="d-flex flex-column mr-2" style="line-height:5px;">
                                                    <h6>Very good</h6>
                                                    <small>231 Reviews</small>
                                                </div>
                                                <div class="rating-count">8.5</div>
                                            </div>
                                            <div class="d-flex flex-column justify-content-end p-2">
                                                <span class="text-right" style="font-size: 16px;">Price for night
                                                    20$</span>
                                                <button type="button" class="btn btn-danger"
                                                    style="font-size:14px">Reserve</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="card mb-3 p-3"
                                style="max-width: 100%; height: 90%;border-color: #5bbaff;box-shadow: 0 0 10px #5bbaff;background-color: #ebf3ff;">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img class="content-image"
                                            src="https://freshome.com/wp-content/uploads/2013/07/Dubai-Underwater-Hotel-Rooms.jpg"
                                            class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h6 class="card-title text-primary mb-1" style="font-weight: bold;">Baku
                                                City</h6>
                                            <div class="d-flex align-items-center mb-3 ">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="card-text" style="font-size: 12px;line-height: 18px;">This is a
                                                wider card with
                                                supporting
                                                text below as a natural lead-in to additional content. This content is a
                                                little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last reserved 3 mins
                                                    ago</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div class="d-flex align-items-center justify-content-end p-2">
                                                <div class="d-flex flex-column mr-2" style="line-height:5px;">
                                                    <h6>Very good</h6>
                                                    <small>231 Reviews</small>
                                                </div>
                                                <div class="rating-count">8.5</div>
                                            </div>
                                            <div class="d-flex flex-column justify-content-end p-2">
                                                <span class="text-right" style="font-size: 16px;">Price for night
                                                    20$</span>
                                                <button type="button" class="btn btn-danger"
                                                    style="font-size:14px">Reserve</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="card mb-3 p-3"
                                style="max-width: 100%; height: 90%;border-color: #5bbaff;box-shadow: 0 0 10px #5bbaff;background-color: #ebf3ff;">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img class="content-image"
                                            src="https://freshome.com/wp-content/uploads/2013/07/Dubai-Underwater-Hotel-Rooms.jpg"
                                            class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h6 class="card-title text-primary mb-1" style="font-weight: bold;">Baku
                                                City</h6>
                                            <div class="d-flex align-items-center mb-3 ">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="card-text" style="font-size: 12px;line-height: 18px;">This is a
                                                wider card with
                                                supporting
                                                text below as a natural lead-in to additional content. This content is a
                                                little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last reserved 3 mins
                                                    ago</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div class="d-flex align-items-center justify-content-end p-2">
                                                <div class="d-flex flex-column mr-2" style="line-height:5px;">
                                                    <h6>Very good</h6>
                                                    <small>231 Reviews</small>
                                                </div>
                                                <div class="rating-count">8.5</div>
                                            </div>
                                            <div class="d-flex flex-column justify-content-end p-2">
                                                <span class="text-right" style="font-size: 16px;">Price for night
                                                    20$</span>
                                                <button type="button" class="btn btn-danger"
                                                    style="font-size:14px">Reserve</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="card mb-3 p-3"
                                style="max-width: 100%; height: 90%;border-color: #5bbaff;box-shadow: 0 0 10px #5bbaff;background-color: #ebf3ff;">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img class="content-image"
                                            src="https://freshome.com/wp-content/uploads/2013/07/Dubai-Underwater-Hotel-Rooms.jpg"
                                            class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h6 class="card-title text-primary mb-1" style="font-weight: bold;">Baku
                                                City</h6>
                                            <div class="d-flex align-items-center mb-3 ">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="card-text" style="font-size: 12px;line-height: 18px;">This is a
                                                wider card with
                                                supporting
                                                text below as a natural lead-in to additional content. This content is a
                                                little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last reserved 3 mins
                                                    ago</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div class="d-flex align-items-center justify-content-end p-2">
                                                <div class="d-flex flex-column mr-2" style="line-height:5px;">
                                                    <h6>Very good</h6>
                                                    <small>231 Reviews</small>
                                                </div>
                                                <div class="rating-count">8.5</div>
                                            </div>
                                            <div class="d-flex flex-column justify-content-end p-2">
                                                <span class="text-right" style="font-size: 16px;">Price for night
                                                    20$</span>
                                                <button type="button" class="btn btn-danger"
                                                    style="font-size:14px">Reserve</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="card mb-3 p-3"
                                style="max-width: 100%; height: 90%;border-color: #5bbaff;box-shadow: 0 0 10px #5bbaff;background-color: #ebf3ff;">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img class="content-image"
                                            src="https://freshome.com/wp-content/uploads/2013/07/Dubai-Underwater-Hotel-Rooms.jpg"
                                            class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h6 class="card-title text-primary mb-1" style="font-weight: bold;">Baku
                                                City</h6>
                                            <div class="d-flex align-items-center mb-3 ">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="card-text" style="font-size: 12px;line-height: 18px;">This is a
                                                wider card with
                                                supporting
                                                text below as a natural lead-in to additional content. This content is a
                                                little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last reserved 3 mins
                                                    ago</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div class="d-flex align-items-center justify-content-end p-2">
                                                <div class="d-flex flex-column mr-2" style="line-height:5px;">
                                                    <h6>Very good</h6>
                                                    <small>231 Reviews</small>
                                                </div>
                                                <div class="rating-count">8.5</div>
                                            </div>
                                            <div class="d-flex flex-column justify-content-end p-2">
                                                <span class="text-right" style="font-size: 16px;">Price for night
                                                    20$</span>
                                                <button type="button" class="btn btn-danger"
                                                    style="font-size:14px">Reserve</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="card mb-3 p-3"
                                style="max-width: 100%; height: 90%;border-color: #5bbaff;box-shadow: 0 0 10px #5bbaff;background-color: #ebf3ff;">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img class="content-image"
                                            src="https://freshome.com/wp-content/uploads/2013/07/Dubai-Underwater-Hotel-Rooms.jpg"
                                            class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h6 class="card-title text-primary mb-1" style="font-weight: bold;">Baku
                                                City</h6>
                                            <div class="d-flex align-items-center mb-3 ">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="card-text" style="font-size: 12px;line-height: 18px;">This is a
                                                wider card with
                                                supporting
                                                text below as a natural lead-in to additional content. This content is a
                                                little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last reserved 3 mins
                                                    ago</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="d-flex flex-column justify-content-between h-100">
                                            <div class="d-flex align-items-center justify-content-end p-2">
                                                <div class="d-flex flex-column mr-2" style="line-height:5px;">
                                                    <h6>Very good</h6>
                                                    <small>231 Reviews</small>
                                                </div>
                                                <div class="rating-count">8.5</div>
                                            </div>
                                            <div class="d-flex flex-column justify-content-end p-2">
                                                <span class="text-right" style="font-size: 16px;">Price for night
                                                    20$</span>
                                                <button type="button" class="btn btn-danger"
                                                    style="font-size:14px">Reserve</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>


    {% include 'includes/subscribers.html' %}
    {% endblock %}
    
