.star-icon {
    font-size: 20px;
  }
.option-title{
  font-weight: bold;
  font-size: 18px;
}
.options-div{
  background-color: rgb(251, 248, 248);
}

/* Reviews css */

.user-avatar{
  width: 60px;
  height: 60px;
}
.user-data{
  font-size: 14px;
}
.line-div{
  position: relative !important;
  height: 4px !important;
  margin-right: 4px !important;
  background: rgb(221, 221, 221) none repeat scroll 0% 0% !important;
  border-radius: 2px !important;
  width: 60% !important;
}
.line-span{
  position: absolute !important;
top: 0px !important;
left: 0px !important;
bottom: 0px !important;
border-radius: 2px !important;
background: black !important;
width: 100%;
}
.rating-count{
  font-size: 12px;
  font-weight: bold;
}
.line-span.rating{
  width: 90% !important;
}
.review-rating-count{
  font-weight: bold;
  font-size: 22px;
}
.line-under-hotels{
  height: 1px;
  width: 100%;
  background-color: black;
}
.nearest-hotels{
  font-size: 26px;
  font-weight: bolder;
}
.checked {
  color: orange;
}
.nearest-hotel-price{

  font-size: 22px;
}
.dollar-symbol{
  font-family: 'Raleway', sans-serif;
  color: #363636;
  font-size: 22px;
line-height: 22px;
}


.rating-count{
  background: #007bff;
  color: #fff;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: baseline;
  border-radius: 6px 6px 6px 0;
  height: 36px;
  width: 36px;
  min-width: 32px;
  }