body {
  line-height: 1.7;
  color: #4d4d4d;
  font-weight: 300;
  font-size: 1rem; 
  margin: 0;
  text-align: left;
  background-color: #fff;
}

a{
  text-decoration: none !important;
  background-color: transparent;
  transition: .3s all ease;
}
.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
  }

.search-parent{
  background-image: url('https://www.spa-hotel-imperial.cz/userfiles/thumbs/f/ext-2_15937844253843_1920x1200_tt_90.jpg');
}
.main-images{
  
  border-radius: 12px;
}
.main-image-div:hover{
  transform: translate(0,-10px) !important;
  transition-duration: 0.3s;
}
.main-image-div:hover + .city-name{
  color: red;
}


.main-image-div{
  position: relative;
  background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
}
.city-name{
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  font-size: 22px;
  font-family: "Rubik", sans-serif;
}
.content-h4{
  position: relative;
}
.content-h4::before{
    display: block;
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    z-index: -1;
    border-bottom: 1px solid black;
}
.span-under-content{
  display: inline-block;
    box-sizing: border-box;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0 12px;
}
.content-name{
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: bold;
}
.search-text{
  font-size: 36px;
    line-height: 40px;
    color: var(--primaryText);
    height: 80px;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 8px 0 24px;
    font-weight: 900;
}