{% extends 'base.html' %}
{% load static restaurant_tags %}
{% block title %} Restaurants {% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/restaurants.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="background-filter">
        <div class="restaurant-container">
            <div class="row">
                <div class="col-12 row m-0  d-flex restaurant-search-input ">
                    <div class="search-inputt bg-white col-md-9 col-10  w-100 d-flex align-items-center"><i
                            class="fa fa-search"></i>
                        <input class="ml-2 restaurant-filter-input" placeholder="Location" type="text"></div>
                    <div class="col-md-2 col-10 p-0">
                        <input class="restaurant-find" value="Find a restaurant" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="restaurant-container  mt-2" style="justify-content: center !important;display: flex;">
    <div class="col-md-11 resp-options">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <img class="w-100 restaurant-cover-photo" src="{% static 'images/index.jpeg' %}" alt="">
                </div>
                <div class="d-none d-md-block">
                    <div class="special-border">
                    {% for types in type_radio %}
                        <div class="d-flex mt-2 mb-2">
                            <img src="{{types.option_svg_file.url}}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 restaurant-options">{{types.option_name}}</p>
                        </div>
                        {% for element in types.option_inputs.all %}
                        <div class="d-flex align-items-center">
                            <input class="ml-1 regular-radio" type="radio" name="dining-option" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">{{element}}</p>
                        </div>
                        {% endfor %}
                        <div class="mb-3"></div>
                        {% endfor %}
                    </div>

                    <div class="special-border">
                        {% for types in type_checkbox %}
                        <div class="d-flex mt-2 mb-2">
                            <img src="{{types.option_svg_file.url}}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 restaurant-options">{{types.option_name}}</p>
                        </div>
                        {% for element in types.option_inputs.all %}
                        <div class="d-flex align-items-center">
                            <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-1 mt-0 mb-0 mr-0 ">{{element}}</p>
                        </div>
                        {% endfor %}
                        <div class="mb-3"></div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="d-md-none d-block col-12" style="margin-top: 15px;">
                <!-- <div class="special-border mt-3"></div> -->
                {% for types in type_radio %}
                <div class="special-border"></div>
                <div class="position-relative " style="cursor: pointer">
                    <div class="d-flex justify-content-between align-items-center option-padding all-options">
                        <div class="d-flex">
                            <img src="{{types.option_svg_file.url}}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 restaurant-options">{{types.option_name}}</p>
                        </div>
                        <i style="padding: 0px 10px;" class="fa fa-angle-down"></i>
                    </div>
                    <div class="option-tables d-none all-option-tables">
                        <div class="all-options-in-table">
                        {% for element in types.option_inputs.all %}
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 regular-radio" type="radio" name="" id="">
                                <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">{{element}}</p>
                            </div>
                        {% endfor %}
                            <div class="triangle-table"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for types in type_checkbox %}
                <div class="special-border"></div>
                <div class="position-relative" style="cursor: pointer">
                    <div class="d-flex justify-content-between align-items-center option-padding  all-options">
                        <div class="d-flex">
                            <img src="{{types.option_svg_file.url}}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 restaurant-options">{{types.option_name}}</p>
                        </div>
                        <i style="padding: 0px 10px;" class="fa fa-angle-down"></i>
                    </div>
                    <div class="option-tables d-none all-option-tables">
                        <div class="all-options-in-table">
                        {% for element in types.option_inputs.all%}
                            <div class="d-flex mb-2 align-items-center">
                                <input class="ml-1 custom-checkbox" type="checkbox" name="" id="">
                                <p class="restaurant-list-option ml-1 mt-0 mb-0 mr-0 ">{{element}}</p>
                            </div>
                        {% endfor %}
                            <div class="triangle-table"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="special-border"></div>
            </div>

            <!-- <div style="border-bottom: 1px solid rgba(0,0,0,.12);" class="col-12"></div> -->
            {% countRestaurants as information %}
            
            <div class="col-md-9 col-12">
                <div class="available-table col-md-12 mt-0 p-0"
                    style="height: 60px;border-bottom: 1px solid rgba(0,0,0,.12);">
                    <div>
                        <span class="count-restaurants">{{information.restaurant}} Restaurants</span>
                    </div>
                    <div class=" d-flex align-items-center" style="">
                        <button class="button-featured restaurant-dropdown">
                            <div class="restaurant-dropdown-featured">Featured</div> <i style="padding: 0px 10px;"
                                class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-list">
                            <li>Featured</li>
                            <li>Highest Rated</li>
                            <li>Newest</li>
                        </ul>
                    </div>

                </div>

                {% for restaurant in restaurants_list%}
                <div class="mt-3 card restaurant-card mb-3" style="max-width: 100%">
                    <div class="d-flex no-gutters">
                        <a href="">
                            <img src="{{restaurant.image.url}}" class="card-img restaurant-card-img" alt="...">
                        </a>
                        <div>
                            <div class="card-body ml-1 body-card">
                                <a class="card-title m-0 restaurant-name">{{restaurant.name}}</a>
                                <div>
                                    <div>
                                        {% get_star_count Restaurants.rating as stars %}
                                        {{stars|safe}}
                                    </div>
                                </div>
                                <small class="restaurant-city-name">{{restaurant.city}}</small>
                                <p style="font-size:14px;font-weight:400">Working time {{restaurant.open_time}} - {{restaurant.close_time}}</p>
                                <div class="restaurant-delivery">Takeout</div>
                                <div class="restaurant-telephone">
                                    <img src="{% static 'images/tel.svg' %}" alt="">
                                    <span>{{restaurant.phone_number}}</span>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {% empty %}
                <h1>Empty Information</h1>
                {% endfor %}

            </div>
            
        </div>
    </div>
</section>



{% include 'includes/subscribers.html' %}

{% block js %}

{% endblock %}
<script src="{% static 'js/restaurant.js' %}"></script>
{% endblock content %}