{% extends 'base.html' %}
{% block title %} Restaurants {% endblock %}< {% load static %} {% block content %} <section>
    <div class="background-filter">
        <div class="container">
            <div class="row">
                <div class="col-12 row m-0  d-flex " style="padding: 15px">
                    <div class="search-input bg-white col-md-8 col-10 offset-1 w-100 d-flex align-items-center"><i
                            class="fa fa-search"></i>
                        <input class="ml-2 restaurant-filter-input" placeholder="Location" type="text"></div>
                    <div class="col-md-2 col-10 p-0 offset-md-0 offset-1">
                        <input class="restaurant-find" value="Find a restaurant" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="mt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-12">
                    <div>
                        <img class="w-100" style="height: 60px;" src="{% static 'images/restaurant.png' %}" alt="">
                    </div>
                    <div style="border-bottom: 1px solid #ebebeb">
                        <div class="d-flex mt-2 mb-2">
                            <img src="{% static 'images/plate.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 restaurant-options">Dining Options</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="radio" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">All dining options</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="radio" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Delivery only</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="radio" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Takeout only</p>
                        </div>
                        <div class="mb-3"></div>
                    </div>

                    <div style="border-bottom: 1px solid #ebebeb">
                        <div class="d-flex mt-2 mb-2">
                            <img src="{% static 'images/chair.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 restaurant-options">Seating Options</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Bar</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Standart</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">High Top</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Outdoor</p>
                        </div>
                        <div class="mb-3"></div>
                    </div>

                    <div style="border-bottom: 1px solid #ebebeb">
                        <div class="d-flex mt-2 mb-2">
                            <img src="{% static 'images/kitchen.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 restaurant-options">Cuisine</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">American</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Italian</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Chinese</p>
                        </div>
                        <div class="mb-3"></div>
                    </div>

                    <div style="border-bottom: 1px solid #ebebeb">
                        <div class="d-flex mt-2 mb-2">
                            <img src="{% static 'images/five.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 restaurant-options">Top Rated</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Authentic</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Bar Seating</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Cellar</p>
                        </div>
                        <div class="mb-3"></div>
                    </div>

                    <div style="border-bottom: 1px solid #ebebeb">
                        <div class="d-flex mt-2 mb-2">
                            <img src="{% static 'images/clock.svg' %}" width="20px" alt="">
                            <p class="ml-1 mt-0 mb-0 mr-0 p-0 restaurant-options">Time</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">Newly Added</p>
                        </div>
                        <div class="d-flex">
                            <input class="ml-1" type="checkbox" name="" id="">
                            <p class="restaurant-list-option ml-2 mt-0 mb-0 mr-0 ">1,000 point times</p>
                        </div>
                        <div class="mb-3"></div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-12 d-flex justify-content-between mt-0 p-0 align-items-center"
                        style="height: 60px;border-bottom: 1px solid rgba(0,0,0,.12);">
                        <p class="m-0 align-items-center available-tables">100 tables available </p>
                        <div class=" d-flex align-items-center" style="">
                            <button class="button-featured restaurant-dropdown">
                                <div class="restaurant-dropdown-featured">Featured</div> <i style="padding: 0px 10px;"
                                    class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-list">
                                <li>Featured</li>
                                <li>Highest Rated</li>
                                <li>Newest</li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-md-12 mt-3 d-flex" style="padding:20px 0px;border-bottom:1px solid rgba(0,0,0,.12)">
                        <div>
                            <a href="">
                                <img src="{% static 'images/rstr.jpg' %}" alt="">
                            </a>

                        </div>
                        <div style="margin-left: 20px">
                            <a href="" class="restaurant-name">Mistura</a>
                            <div>
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-3.svg' %}" alt="">
                                <span class="restaurant-feedback">Exceptional</span>
                                <span class="restaurant-feedback-number">(683)</span>
                            </div>
                            <div>
                                <span class="restaurant-city-name">City Name</span>
                            </div>
                            <div style="margin-top: 48px">
                                <div class="restaurant-delivery">Takeout</div>
                                <div class="restaurant-telephone">
                                    <img src="{% static 'images/tel.svg' %}" alt="">
                                    <span>+(994)444-44-44</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mt-3 d-flex" style="padding:20px 0px;border-bottom:1px solid rgba(0,0,0,.12)">
                        <div>
                            <a href="">
                                <img src="{% static 'images/rstr.jpg' %}" alt="">
                            </a>

                        </div>
                        <div style="margin-left: 20px">
                            <a href="" class="restaurant-name">Mistura</a>
                            <div>
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-3.svg' %}" alt="">
                                <span class="restaurant-feedback">Exceptional</span>
                                <span class="restaurant-feedback-number">(683)</span>
                            </div>
                            <div>
                                <span class="restaurant-city-name">City Name</span>
                            </div>
                            <div style="margin-top: 48px">
                                <div class="restaurant-delivery">Takeout</div>
                                <div class="restaurant-telephone">
                                    <img src="{% static 'images/tel.svg' %}" alt="">
                                    <span>+(994)444-44-44</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mt-3 d-flex" style="padding:20px 0px;border-bottom:1px solid rgba(0,0,0,.12)">
                        <div>
                            <a href="">
                                <img src="{% static 'images/rstr.jpg' %}" alt="">
                            </a>

                        </div>
                        <div style="margin-left: 20px">
                            <a href="" class="restaurant-name">Mistura</a>
                            <div>
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-3.svg' %}" alt="">
                                <span class="restaurant-feedback">Exceptional</span>
                                <span class="restaurant-feedback-number">(683)</span>
                            </div>
                            <div>
                                <span class="restaurant-city-name">City Name</span>
                            </div>
                            <div style="margin-top: 48px">
                                <div class="restaurant-delivery">Takeout</div>
                                <div class="restaurant-telephone">
                                    <img src="{% static 'images/tel.svg' %}" alt="">
                                    <span>+(994)444-44-44</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mt-3 d-flex" style="padding:20px 0px;border-bottom:1px solid rgba(0,0,0,.12)">
                        <div>
                            <a href="">
                                <img src="{% static 'images/rstr.jpg' %}" alt="">
                            </a>

                        </div>
                        <div style="margin-left: 20px">
                            <a href="" class="restaurant-name">Mistura</a>
                            <div>
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-2.svg' %}" alt="">
                                <img src="{% static 'images/image-3.svg' %}" alt="">
                                <span class="restaurant-feedback">Exceptional</span>
                                <span class="restaurant-feedback-number">(683)</span>
                            </div>
                            <div>
                                <span class="restaurant-city-name">City Name</span>
                            </div>
                            <div style="margin-top: 48px">
                                <div class="restaurant-delivery">Takeout</div>
                                <div class="restaurant-telephone">
                                    <img src="{% static 'images/tel.svg' %}" alt="">
                                    <span>+(994)444-44-44</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% include 'includes/subscribers.html' %}
    {% endblock content %}