{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/cities-page.css' %}">
{% endblock %}
{% block content %}


<section class="header-image">
    <div class="image-headerrr">
        <img class="head-image" src="{% static 'images/Bakü_gece_görünüşü.jpg' %}" style="width: 100%;">
        <div class="header-text">
            <h1 style="color: white;">Azerbaijan Cities</h1>
            <!-- <h4 style="color: white;">Travel With Us</h4> -->
        </div>
    </div>


    {% comment %} <div class="see-all-header">
        <button class="seeall-button-header">See all</button>
    </div> {% endcomment %}
</section>
<section class="main-sections container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <!-- <div class="up-text col-6">
            <h1>Most Popular Tours</h1>
            <p class="center-text">
                Iconic cities, stunning landscapes, a mixture of cultures—there's so much to experience across this
                incredible continent. On our trips to Europe, you can see it all on a sweeping journey across the
                continent,
                or get an in-depth look at a certain country that interests you.
            </p>
        </div> -->
        <div class="col-3"></div>
    </div>
    <div class="container m-auto mt-4 mb-4">
        <div class="row">
            <div class="card col-md-6 col-lg-4 col-12 mt-4" style="width: 18rem;">
                <div class="in-div">
                    <div class="card-image">
                        <img src="{% static 'images/sicily-italy.jpg' %}" class="card-img-top" alt="...">
                        <div class="nese">
                            $500
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="first">

                            <a class="change-text-color" href="">Baku</a>
                            <!-- <div class="right-side">
                            <span>5</span>
                        <span>Hotels</span>
                        </div> -->

                        </div>
                        <div class="first">
                            <p>United State of America</p>
                            <!-- <div class="right-side">
                        <span>5</span>
                    <span>Restaurant</span>
                    </div> -->
                        </div>

                        <div class="first">
                            <span>
                                (Reviews)
                            </span>
                            <!-- <div class="right-side">
                            <span>5</span>
                        <span>Torus</span>
                        </div> -->

                        </div>
                        <div class="under-div mt-3 row">
                            <div class="col-4 under-div-indiv">
                                <span>
                                    5
                                </span>
                                <span>
                                    Hotels
                                </span>
                            </div>
                            <div class="col-4 under-div-indiv">
                                <span>
                                    5
                                </span>
                                <span>
                                    Restaurant
                                </span>
                            </div>
                            <div class="col-4 under-div-indiv">
                                <span>
                                    5
                                </span>
                                <span>
                                    Tours
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card col-md-6 col-lg-4 col-12 mt-4" style="width: 18rem;">
                <div class="in-div">
                    <div class="card-image">
                        <img src="{% static 'images/sicily-italy.jpg' %}" class="card-img-top" alt="...">
                        <div class="nese">
                            $500
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="first">

                            <a class="change-text-color" href="">Baku</a>
                            <!-- <div class="right-side">
                            <span>5</span>
                        <span>Hotels</span>
                        </div> -->

                        </div>
                        <div class="first">
                            <p>United State of America</p>
                            <!-- <div class="right-side">
                        <span>5</span>
                    <span>Restaurant</span>
                    </div> -->
                        </div>

                        <div class="first">
                            <span>
                                (Reviews)
                            </span>
                            <!-- <div class="right-side">
                            <span>5</span>
                        <span>Torus</span>
                        </div> -->

                        </div>
                        <div class="under-div mt-3 row">
                            <div class="col-4 under-div-indiv">
                                <span class="mr-2">
                                    5
                                </span>
                                <span>
                                    Hotels
                                </span>
                            </div>
                            <div class="col-4 under-div-indiv">
                                <span class="mr-2">
                                    5
                                </span>
                                <span>
                                    Restaurant
                                </span>
                            </div>
                            <div class="col-4 under-div-indiv">
                                <span class="mr-2">
                                    5
                                </span>
                                <span>
                                    Tours
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card col-md-6 col-lg-4 col-12 mt-4" style="width: 18rem;">
                <div class="in-div">
                    <div class="card-image">
                        <img src="{% static 'images/sicily-italy.jpg' %}" class="card-img-top" alt="...">
                        <div class="nese">
                            $500
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="first">

                            <a class="change-text-color" href="">Baku</a>
                            <!-- <div class="right-side">
                            <span>5</span>
                        <span>Hotels</span>
                        </div> -->

                        </div>
                        <div class="first">
                            <p>United State of America</p>
                            <!-- <div class="right-side">
                        <span>5</span>
                    <span>Restaurant</span>
                    </div> -->
                        </div>

                        <div class="first">
                            <span>
                                (Reviews)
                            </span>
                            <!-- <div class="right-side">
                            <span>5</span>
                        <span>Torus</span>
                        </div> -->

                        </div>
                        <div class="under-div mt-3 row">
                            <div class="col-4 under-div-indiv">
                                <span class="mr-3">
                                    5
                                </span>
                                <span>
                                    Hotels
                                </span>
                            </div>
                            <div class="col-4 under-div-indiv">
                                <span class="mr-3">
                                    5
                                </span>
                                <span>
                                    Restaurant
                                </span>
                            </div>
                            <div class="col-4 under-div-indiv">
                                <span class="mr-3">
                                    5
                                </span>
                                <span>
                                    Tours
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</section>
<div class="more-cities mb-5 mt-5">
    <button class="more-cities-button">More Cties</button>
</div>
{% include 'includes/subscribers.html' %}
{% endblock content %}