{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="search-parent col-12 d-flex flex-column justify-content-center align-items-center p-5">
                <h4 class="search-text">Find the good out there</h4>
                <div class=" active-cyan-3 active-cyan-4 mb-4 col-12 w-75 ">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
    <h4 class="text-center p-3 content-h4">
        <span class="span-under-content">
            <span class="content-name">
                Cities
            </span>
        </span>
    </h4>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center p-4">
            
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">DESTINITON</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">DESTINITON</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">DESTINITON</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
</section>
<section>
    <div class="container-fluid">
    <h4 class="text-center p-3 content-h4">
        <span class="span-under-content">
            <span class="content-name">
                Most Popular Destinition
            </span>
        </span>
    </h4>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center p-4">
            
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">CITY</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">CITY</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">CITY</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
</section>
<section>
    <div class="container-fluid">
    <h4 class="text-center p-3 content-h4">
        <span class="span-under-content">
            <span class="content-name">
                Hotels
            </span>
        </span>
    </h4>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center p-4">
            
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">HOTEL</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">HOTEL</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">HOTEL</p>
                </div>
            </div>
            
        </div>
       
    </div>
</div>
</section>
<section>
    <div class="container-fluid">
    <h4 class="text-center p-3 content-h4">
        <span class="span-under-content">
            <span class="content-name">
                Restarants
            </span>
        </span>
    </h4>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center p-4">
            
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">RESTAURANT</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">RESTAURANT</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="main-image-div">
                    <img class="main-images w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcST6sShmMHWP3T5E6ACaaVRbhUvwNCabzGuaQ&usqp=CAU" alt="">
                    <p class="city-name">RESTAURANT</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
</section>
{% include 'includes/subscribers.html' %}
{% endblock content %}