{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container-fluid">
        <div class="row for-bg p-4">
            <div class="rounded search-parent col-12 d-flex flex-column justify-content-center align-items-center p-5">
                <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                    <div class=" active-cyan-3 active-cyan-4 mb-4 col-12 w-75 ">
                    <h4 class="search-text">Find the good out there</h4>
                    <form class="search-input-form" action="">
                       <input class="form-control search-input" type="text" placeholder="Search..." aria-label="Search">
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <h4 class="text-center p-5 content-h4">
            <span class="span-under-content">
                <span class="content-name">
                    Cities
                </span>
            </span>
        </h4>
        <div class="container">
            <div class="row align-items-center justify-content-center p-4">
                {% for city in city_list %}
                <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="for-linear">
                    <div class="main-image-div" style="height: 250px;">
                        <img class="main-images w-100 h-100 rounded" src="{{city.image.url}}" alt="">
                        <p class="city-name">{{city.name}}</p>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
       
    </div>
</section>
{% include 'includes/subscribers.html' %}
{% endblock content %}